body{
  background-color: #c4e4ff;
}
#container{
  width:80%;
  margin:30px auto;
  background-color: transparent;
}
form{
  width:40%;
  display: inline-block;
  vertical-align: top;
  padding: 5%;
  margin: 0;
}
span{
  color: #930902;
}
